on:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - name: Checkout code
       uses: actions/checkout@v3
       with:
         submodules: true  
     - name: Setup Unix-like
       run: ./build/setup_unix.sh
     - name: Sets env vars for LLVM
       run: |
          echo "LLVM_BIN=/usr/lib/llvm-$LLVM_VERSION/bin" >> $GITHUB_ENV
  
     - uses: WorldOfScala/actions/compile@master
       with:
         checkout: false

